NODE_ENV=development
EXPRESS_PORT=4000
EXPRESS_URL=http://localhost:4000
NEXT_URL=http://localhost:3000
DB_USER=postgres
DB_PASSWORD=postgres_password
DB_NAME=quizlm
DB_HOST=localhost
DB_PORT=5432
DB_URL=postgresql://postgres:postgres_password@localhost:5432/quizlm
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_publishable_key
CLERK_SECRET_KEY=clerk_secret_key
GEMINI_API_KEY=gemini_api_key
CLERK_WEBHOOK_SECRET=clerk_webhook_secret